@{
    ViewBag.Title = "Liên hệ";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Địa chỉ bệnh viện<br />
    Thành phố, Tỉnh/TP<br />
    <abbr title="Phone">ĐT:</abbr>
    0123.456.789
</address>

<address>
    <strong>Hỗ trợ:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Truyền thông:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>